<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Grid is just awesome">
  <meta name="subject" content="just a simple exercise for fun">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="src/css/gallery.css" rel="stylesheet" type="text/css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">

  <noscript>
    <!--no JS alternative--></noscript>
  <title>Grid at midnight</title>
</head>

<body>
  <main id="gallery">
    <div class="fixed m-1">
      <label>Number of images: <input type="number" v-model.number="number"></label>
      <label><input placeholder="Type a number" type="checkbox" v-model="gaps">Fill gaps</label>
      <label for="">Type
        <select @change="updateType" v-model="type">
          <option value="any">Any</option>
          <option value="animals">Animals</option>
          <option value="arch">Architecture</option>
          <option value="nature">Nature</option>
          <option value="people">People</option>
          <option value="tech">Tech</option>
        </select>
      </label>
      <label for="">Filters
        <select @change="updateType" v-model="filter">
          <option value="none">None</option>
          <option value="grayscale">Grayscale</option>
          <option value="sepia">Sepia</option>
        </select>
      </label>
    </div>
    <section class="sm:grid gap-4 sm:grid-cols-6 lg:grid-cols-8 m-2 sm:m-4 space-y-4 sm:space-y-0" :class="{gaps:gaps}">

      <article tabindex="0" class="gallery-item rounded shadow-sm overflow-hidden hover:shadow" v-for="img in images" :class="img.classes">
        <!--Loader-->
        <div class="loader" v-if="img.showImg == false">
          <div class="signal"></div>
        </div>

        
        <div class="background"></div>
        <img :src="img.src" :alt="img.alt" @load="imgLoad(img)" class="w-full h-full object-cover" :class="{'fadeIn':img.showImg==true}">
        <p v-if="img.showImg==true" class="text-center">
          {{img.desc}}
        </p>
      </article>

    </section>
  </main>
  <script src="src/code.js"></script>
</body>

</html>